body {
  color: black;
  background-color: #00ace6;
  min-height: 100%;
  margin: 0 0 100px;
  width: 100%;
}

html {
  position: relative;
  min-height: 100%;
  width: 100%;
}



/*----- Accordion 1 -----*/




.accordion, .accordion * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.accordion {
  margin: 0 auto;
  background: black;
  text-align: center;
  width: 50%;
  margin-top: 100px;
}

/*----- Accordion Title 1 -----*/
.accordion-section-title {
  width: 100%;
  padding: 15px;
  display: block;
  border-bottom: 1px solid #1a1a1a;
  background: white;
  transition: all linear 0.25s;
  font-size: 26px;
  text-shadow: 0px 1px 0px #1a1a1a;
  color: black;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.accordion-section-title.active, .accordion-section-title:hover {
  text-decoration: none;
}

.accordion-section:last-child .accordion-section-title {
  border-bottom: none;
  color: black;
}

.accordion-section-content {
  display: none;
  margin-top: 25px;
}

.acc {
  color: white;
}

.accordion-section {
    width: 100%;
}
  /*-----
      1. May add a later date
      2. Accordion 2


  .accordion2, .accordion2 * {
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;

  }

  .accordion2 {
      float: right;
      overflow:hidden;
      box-shadow:0px 1px 3px;
      border-radius:3px;
      background:black;
      text-align: center;
      width: 25%;
      margin-right: 17%;
      margin-top: 5%;
  }

  /*----- Accordion Title 2
  .accordion-section-title2 {
      width: 100%;
      padding:15px;
      display:inline-block;
      border-bottom:1px solid #1a1a1a;
      background: white;
      transition:all linear 0.25s;
      font-size:26px;
      text-shadow:0px 1px 0px #1a1a1a;
      color:black;
      font-family: 'Oswald', sans-serif;


  }

  .accordion-section-title2.active, .accordion-section-title2:hover {
      background:#4c4c4c;
      text-decoration:none;



  }

  .accordion-section2:last-child .accordion-section-title2 {
      border-bottom:none;
      color: black;




  }


  .accordion-section-content2 {
      padding:15px;
      display:none;
  }


-----*/


.pic, .pic2 {
  text-decoration: none;
  list-style: none;
  margin-bottom: 5%;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 5%;
  display: inline-block;
  font-weight: bold;
  line-height: 150%;
  width: 250px;
  height: 250px;
}

.hours {
  padding: 0;
  text-align: center;
  text-decoration: none;
  list-style: none;
  margin-top: 50px;
  margin-bottom: 20%;
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 150%;
}

li:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

li:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.header {
  background-color: black;
  text-align: center;
  border-style: outset;
}

h1 {
  font-size: 36pt;
  font-family: 'Playfair Display', serif;
  letter-spacing: .2em;
  word-spacing: .1em;
  color: white;
  text-shadow: 1.5px 1.5px 6px white;
}

h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-style: italic;
  color: white;
  background-color: black;
  font-size: 10pt;
  letter-spacing: .2em;
  word-spacing: .1em;
  text-align: center;
}

.text-center {
  text-align: center;
}

.aboutp {
  color: white;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

.aboutp1 {
  color: white;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 100px;
}

.picturesp {
  color: white;
  text-align: center;
  margin-top: 100px;
}

.contactp {
  color: white;
  text-align: center;
}

.contactp1 {
  color: white;
  text-align: center;
  margin-top: 100px;
}

.div-nav {
  text-align: center;
  margin: 0;
}

ul {
  padding-left: 0;

}

nav {
  text-align: center;
}

nav a {
  font-weight: 500;
  font-family: sans-serif;
}

ul#list-nav li {
  list-style: none;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-top: 0 auto:
  margin-bottom: 0 auto;
  border: 2px solid;
  overflow: hidden;
  background-color: black;
  width: 10%;
}

nav li {
  float: left;
  margin-left: 0;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menuitem {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 5px;
}



li.menuitem a:hover, li.menuitem a:active {
  background-color: white;
  color: black;
}



.body {
  background-attachment: fixed;
}

/* 1. image conflicted with footer
   2. not enough of the picture was showing
.cityoflouisville {
  opacity: 0.0;
  background-size: 50% 50%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  background-image: cover;
}
*/

.sb {
  border: none;
  border: 0;

}



#floating-panel {
  text-align: center;
  padding-bottom: 40px;
}

.f-icon {
  font-family: 'PT Sans', sans-serif;
  display: inline-block;
  height: 50px;
  width: 40px;
  padding-top: 0;
  padding-left: 10px;
  text-align: center;
  color: white;
  font-size: 50px;
  background-color: blue;
}

.main-footer {
  position: absolute;
  text-align: center;
  left: 0;
  bottom: 0;
  clear: both;
  padding-top: 50px;
  height: 100px;
  width: 100%;
}

.main-footer-d {
  text-align: center;
  left: 0;
  bottom: 0;
  clear: both;
  padding-top: 50px;
  height: 100px;
  width: 100%;
}

.copy {
  color: black;
  text-align: center;
}

.directionsp {
  font-size: 150%;
  text-decoration: underline;
  text-align: center;
  color: white;
  padding: 10px 10px;
  margin-top: 100px;
}

.addy {
  text-align: center;
  color: white;
  padding-bottom: 40px;
}

.top {
  padding-top: 20px;
  text-align: center;
  color: black;
}

.search-table {
  margin-top: 100px;
}
