@media screen and (max-width: 500px) {
  body {
      font-size: 18px;

  }



}

@media screen and (max-width: 768px) {
  ul#list-nav li {
    margin-left: 0;
    margin-right: 0;
  }
}


@media screen and (max-width: 1200px) {


  nav ul li {
      text-align: center;
      width: 100%!important;
  }

}
